<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
        <authentication mode="Windows" />
        <identity impersonate="false" />
  </system.web>
  <!--<system.web>
    <customErrors mode="On" defaultRedirect="Login.aspx"/>
    <pages viewStateEncryptionMode="Always"/>
    <sessionState timeout="5600" mode="InProc" cookieless="false"/>
    <compilation debug="true"/>
    <httpRuntime enableVersionHeader="false"/>
  </system.web>-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <!--<security>
      <requestFiltering removeServerHeader="true"/>
    </security>-->
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <!--<httpProtocol>
      <customHeaders>
        --><!--<remove name="X-Powered-By"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <add name="Content-Security-Policy" value="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'; img-src 'self' http://* data:;"/>
        <add name="Referrer-Policy" value="no-referrer"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="Expect-CT" value="enforce, max-age=43200"/>
        <add name="Permissions-Policy" value="fullscreen=()"/>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload"/>
        <add name="Access-Control-Allow-Origin" value="domain"/>--><!--
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
</configuration>